
material.Rmd

material.html

*.rdx

*.rdb

*.RData

material_cache/html/__packages

dvecheruk_final_project.Rmd

dvecheruk_final_project.html

data/sample_submission.csv

data_605_final_project/

~$nal project 2.docx

*.rdx

*.rdx

*.rdb
